.app__noti {
  width: 280px !important;
  &.top-right {
    top: calc($app-topbar-height + 16px) !important;
    right: 16px !important;
  }
}

.app__noti-tosted {
  justify-content: flex-start !important;
  background: $white !important;
  padding: calc($spacer / 4 * 3) calc($spacer * 1.25) !important;
  border: $border-width solid $border-color !important;
  border-radius: $border-radius !important;

  &::before {
    content: '';
    position: absolute;
    background: $gray-200;
    left: 3px;
    top: 3px;
    width: 3px;
    height: calc(100% - 6px);
    border-radius: $border-radius;
  }

  > i {
    font-size: $font-size-base * 1.5;
    margin-right: $spacer;
  }

  &.success {
    &::before {
      background: $success;
    }

    > i {
      color: $success;
    }
  }

  &.error {
    &::before {
      background: $danger;
    }

    > i {
      color: $danger;
    }
  }

  &.info {
    &::before {
      background: $info;
    }

    > i {
      color: $info;
    }
  }

  &.warning {
    &::before {
      background: $warning;
    }

    > i {
      color: $warning;
    }
  }
}