.app__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: $spacer;

  .content-header {
    display: flex;
    align-items: center;
    height: $app-content-header-height;
    padding: 0 $spacer;
    margin: calc($spacer * -1) calc($spacer * -1) 0;

    .header-action {
      display: flex;
      margin-left: auto;

      .mx-datepicker {
        width: 120px;
      }
    }
  }
}

.app__body {
  position: relative;
  
  &.app__body-fluid {
    flex: 1;
    overflow: hidden;
  }
}